body{
    background-size: cover;
}
h3{
    width: 100%;
    margin: 0px;
}
.heading{
    color: white;
    font-size: 30px;
    width: 100%;
    margin: 0;
}
.note{
    color: red;
    font-size: 18px;
}
#song_name{
    background-color: aqua;
    margin-top: 50px;
}
canvas{
    background-color: aqua;
    border: 5px dashed white;
}